<!DOCTYPE html>
<html>
<header>
</header>
<body>
<h1>Investment Committee Scorecard Tool</h1>
    <%= yield %>
</body>
<footer>
<a href="/">Home</a>
<% if logged_in? %>
    | Hi <%=current_user.username%> | <a href="/logout"> | Logout</a>
<% end %>

</footer>

</html>